# env
lite
env
env_py312

# config files
config.yaml

# log files
*.log
*.csv
*.out
*.csv

#private datasets
private_datasets

# python cache files
__pycache__/
**/__pycache__/
*.py[cod]
.DS_Store

# datasets
private_datasets/

# tests
#test.py
client_test.py

# local configs
.venv/
.vscode/

data/spider/
